.background {
	/* background-image: linear-gradient(#eee 0%, #fff); */
	/* background-image: linear-gradient(#fff, #eee, #fff); */
}

.faq {
	padding: 5vh 10vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 75rem;
	margin: 0 auto;
}

.header {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 2.5rem;
}

.questionBlocks {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	text-align: left;
}

.tab {
	width: 100%;
	overflow: hidden;
	height: auto;
	border-top: 0.01rem solid #1c1f35;
}

.tab:last-child {
	border-bottom: 0.01rem solid #1c1f35;
}

.tabLabel {
	font-size: 1.1rem;
	display: flex;
	justify-content: space-between;
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
}

.tabLabel::after {
	content: "\276F";
	width: 1rem;
	height: 1rem;
	text-align: center;
	transition: all 0.35s;
}

.tabContent {
	max-height: 0;
	margin: 0;
	padding: 0;
	background: rgb(255, 255, 255, 0);
	/* background-image: radial-gradient(#ffffff, #dddddd); */
}

input {
	display: none;
}

input:checked + .tabLabel::after {
	transform: rotate(90deg);
}

input:not(:checked) ~ .tabContent {
	display: none;
}

input:checked ~ .tabContent {
	max-height: 100vh;
	padding: 0 1em;
	padding-bottom: 1em;
}

.furtherEnq {
	margin-top: 3rem;
	font-size: 1rem;
	font-weight: 500;
}
