.headerBg {
  height: 8vh;
}

.mainBody {
  display: flex;
  padding: 5rem;
  background-color: #a8c0ff;
}

.myimage {
  width: 30vw;
}

.description {
  display: block;
  width: 45vw;
  text-align: center;
  margin: auto;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .mainBody {
    flex-direction: column;
  }
  .myimage {
    width: 50vw;
    max-width: 60vw;
    margin: auto;
    margin-bottom: 5rem;
  }
}
