.sponsors {
	padding: 0 8vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 75rem;
	margin: 0 auto;
}

.themeRow {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.header {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 2.5rem;
}

.title {
	font-size: 1.75rem;
	font-weight: 500;
}

.logoContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 5rem;
	row-gap: 3rem;
}

.logo {
	margin: auto;
	display: block;
	max-width: 20vw;
	max-height: 25vh;
	object-fit: contain;
}

@media screen and (max-width: 620px) {
	.sponsors {
		padding: ;
	}
	.themeRow {
		flex-direction: column;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		width: 55vw;
	}
	.mainLogo {
		width: 75vw;
	}
}
