.nav {
	width: 100vw;
	height: 10vh;
	background-color: #002054;
	color: #fff;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1;
}

.headerItem {
	height: 10vh;
	display: flex;
	align-items: center;
}

.logoContainer {
	height: 10vh;
	cursor: pointer;
	margin-left: 1.5rem;
	display: flex;
	align-items: center;
}

.logo {
	height: 8vh;
	-webkit-user-drag: none;
}

.navLinks {
	width: 100%;
	height: 10vh;
	margin-right: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navActive li,
.navLinks li {
	list-style: none;
}

.navActive li:last-child a,
.navLinks li:last-child a {
	color: #f7c945;
	font-weight: 500;
}

.navLinks a {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	cursor: pointer;
	margin: 0 1rem;
}

.navLinks {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px 0;
	transition: all 0.3s ease;
}

.line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.line2 {
	opacity: 0;
}
.line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 750px) {
	.logoContainer {
		margin-left: 1rem;
	}

	.navLinks {
		display: none;
	}

	.burger  {
		display: block;
		cursor: pointer;
	}

	.burgerContainer {
		width: 100%;
		height: 10vh;
		margin-right: 1rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.navActive {
	position: absolute;
	right: 0px;
	height: 90vh;
	top: 10vh;
	background-color: #002054;
	padding: 0 1.75rem;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transform: translateX(0%);
	transition: transform .5s ease-in;
}

.navActive a {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
