.timeline {
	display: flex;
	flex-direction: row-reverse;
	padding: 6vh 2rem 0;
	max-width: 79rem;
	margin: 0 auto;
}

@media screen and (max-width: 1000px) {
	.timeline {
		padding-right: 0;
	}
}

.header {
	font-size: 2.5rem;
	font-weight: 600;
	margin: 1rem 1.5rem 0;
}

.container {
	display: flex;
	width: 100vw;
	justify-content: flex-start;
}

@media screen and (max-width: 765px) {
	.header {
		font-size: 2rem;
	}

	.container {
		font-size: 1rem;
	}
}

@media screen and (max-width: 620px) {
	.timeline {
		flex-direction: column;
	}

	.header {
		/* right: auto; */
		/* position: relative; */
		margin: 0 auto 1.5rem;
	}
}

@media screen and (max-width: 500px) {
	.header {
		font-size: 1.75rem;
		margin-bottom: 1rem;
	}
}
