.register {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #002054;
  flex-direction: column;
}

.text {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #fff;
}

.closedText {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.7rem;
  font-family: monospace;
  color: #f7c945;
}

.registerButton {
  background-color: #f7c945;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.7rem 1.2rem;
  color: #002054;
  cursor: pointer;
  text-decoration: none;
}
