.sponsors {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #8BACFF;
  text-align: center;
  font-family: 'Roboto';
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
}

.logoContainer {
  flex-direction: column;
}

.logo {
  margin: 2rem auto;
  display: block;
  width: 30vw;
}
