.workshops {
  height: 130vh;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  min-height: 20vh;
  width: 100%;
  background: #002054;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: #5db6ff;
}

p {
  color: #111827;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.descriptionCol {
  flex-basis: 20%;
  background: #5db6ff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 15px 12px;
  box-sizing: border-box;
  height: 25vh;
  transition: box-shadow 0.5s, height 0.5s;
  overflow: hidden;
}

.h3 {
  text-align: center;
  font-weight: 600;
  margin: 5px 0;
}

.descriptionCol:hover {
  box-shadow: 0 0 20px 0px rgba(34, 188, 226, 0.76);
  height: 40vh;
}
