.workshops {
  width: 100vw;
  margin: 0 auto;
  padding: 2.5rem 0;
  text-align: center;
  color: #1C1F35;
}

.header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #1C1F35;
  margin: 2rem 0;
  padding: 0;
}

.workshopGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  padding: 1rem 2rem;
  /* display: flex; */
  /* align-content: space-around; */
}

.workshopItem {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  margin: 0 auto;
  width: 37.5vw;
  align-content: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 20px;
}

.organizerLogoContainer {
  width: 10rem;
  border-radius: 100%;
  align-self: center;
}

.organizerLogo {
  width: 10rem;
  border-radius: 100%;
  align-self: center;
}

.content {
  text-align: left;
  align-self: center;
  margin-left: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.datetime {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: .5rem;
}

.divider {
  margin: 1rem 0;
  width: 100%;
}

.description {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: .5rem;
}

.organizer {
  font-size: 1rem;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: 0;
}

/* p {
  color: #111827;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.descriptionCol {
  flex-basis: 20%;
  background: #5db6ff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 15px 12px;
  box-sizing: border-box;
  height: 25vh;
  transition: box-shadow 0.5s, height 0.5s;
  overflow: hidden;
}

.h3 {
  text-align: center;
  font-weight: 600;
  margin: 5px 0;
}

.descriptionCol:hover {
  box-shadow: 0 0 20px 0px rgba(34, 188, 226, 0.76);
  height: 40vh;
} */
